@tailwind base;
@tailwind components;
@tailwind utilities;

.ProseMirror {
  outline: none;
  min-height: 320px;
}
.ProseMirror ul {
  list-style: disc;
  padding-left: 1.25rem;
}
.ProseMirror ol {
  list-style: decimal;
  padding-left: 1.25rem;
}
